extend ../layouts/main-layout.pug

block styles

block content
    -   let validTitle=validationErrors.find(e => e.param === 'title')? 'invalid' : '';
    -   let validImageUrl=validationErrors.find(e => e.param === 'imageUrl')? 'invalid' : '';
    -   let validPrice=validationErrors.find(e => e.param === 'price')? 'invalid' : '';
    -   let validDesc=validationErrors.find(e => e.param === 'description')? 'invalid' : '';
    main
        if errorMessage
            .user-message.user-message--error #{errorMessage}
        form.product-form( action="/admin/add-product" method="POST" enctype="multipart/form-data")
            .form-control
                label( for="title") Title
                input( type="text" name="title" class=validTitle)#title
            //- .form-control
            //-     label( for="imageUrl") Image URL
            //-     input( type="text" name="imageUrl" class=validImageUrl)#imageUrl
            .form-control
                label( for="image") Image
                input( type="file" name="image"  class=validImageUrl)#image
            .form-control
                label( for="price") Price
                input( type="number" name="price" step='0.01'  class=validPrice)#price
            .form-control
                label( for="description") Description
                textarea( name="description" rows='5' class=validDesc)#description
            button.btn( type="submit") Add Product