extend ../layouts/main-layout.pug

block styles

block content
    if products.length > 0
        ul.cart__item-list
            each product of products
                li.cart__item
                    h1 #{product.productId.title} 
                    h2 Quantity: #{product.quantity}
                    form(action="/cart-delete-item" method="POST")
                        input(type="hidden" name="_csrf" value=csrfToken)
                        input(type="hidden" name="id" value=product.productId._id) 
                        button.btn(type="submit") Delete 
        hr
        .centered 
            //- form(action="/create-order" method="POST")
            //-     input(type="hidden" name="_csrf" value=csrfToken)
            //-     button.btn(type="submit") Order NOW!
            a.btn(href="/checkout") Order Now!
    else
        h1 The Cart is empty